@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */

:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #071013;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}

.text-slanted {
  font-family: "Calligraffitti", cursive;
}

.text-yellow {
  color: var(--mainYellow);
}

.btn-yellow {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--mainBlack);
  background: var(--mainYellow);
  border-radius: 0 !important;
}

.btn-yellow:hover {
  background: var(--mainBlack) !important;
  color: var(--mainYellow) !important;
}

.btn-black {
  background: transparent;
  color: var(--mainBlack) !important;
  border: 0.1rem solid var(--mainBlack);
  border-radius: 0 !important;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.btn-black:hover {
  background: var(--mainBlack);
  color: var(--mainWhite) !important;
}

.banner-products,
.banner-single-product,
.banner-store {
  min-height: 60vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(225, 225, 225, 0.5))
    ),
    url("../images/pageBcg/productsBcg.jpeg") center/cover no-repeat fixed;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(225, 225, 225, 0.5)
    ),
    url("../images/pageBcg/productsBcg.jpeg") center/cover no-repeat fixed;
}

.banner-single-product {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(225, 225, 225, 0.5))
    ),
    url("../images/pageBcg/singleBcg.jpeg") center/cover no-repeat fixed;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(225, 225, 225, 0.5)
    ),
    url("../images/pageBcg/singleBcg.jpeg") center/cover no-repeat fixed;
}

.banner-store {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(225, 225, 225, 0.5))
    ),
    url("../images/pageBcg/storeBcg.jpeg") center/cover no-repeat fixed;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(225, 225, 225, 0.5)
    ),
    url("../images/pageBcg/storeBcg.jpeg") center/cover no-repeat fixed;
}

/* ######################Home Page#################### */

/* navbar */

.navbar-toggler {
  border: none;
  color: var(--mainYellow) !important;
  font-size: 2.2rem;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-link {
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}

.nav-active {
  border-bottom: 0.1rem solid var(--mainYellow);
}

.navbar-icon {
  font-size: 1.6rem;
}

.navbar-cart-icon {
  color: var(--mainBlack);
  position: relative;
}

.navbar-cart-icon:hover {
  color: var(--mainGrey);
}

.cart-items {
  position: absolute;
  top: -15%;
  right: -25%;
  font-size: 0.7rem;
  color: var(--mainWhite);
  background: var(--mainYellow);
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
}

/* banner */

.banner {
  min-height: calc(100vh - 101px);
  background: url(../images/pageBcg/bannerBcg.jpeg) center/cover no-repeat fixed;
}

/* services */

.service-icon {
  background: var(--mainGrey);
  color: var(--mainYellow);
  font-size: 2rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* categories */

.categories-link {
  color: var(--mainBlack);
  text-decoration: none;
}

.categories-link:hover {
  color: var(--mainGrey);
  text-decoration: none;
}

.categories-underline {
  background: var(--mainYellow);
  height: 0.15rem;
  width: 5rem;
  margin-top: 0.1rem;
}

.category-container {
  position: relative;
}

.category-container:hover {
  cursor: pointer;
}

.category-img {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.category-container:hover .category-img {
  opacity: 0.5;
}

.category-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.2rem 3rem 0.2rem 0.2rem;
  background: var(--mainWhite);
  color: var(--mainBlack);
  -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  opacity: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.category-link:hover {
  text-decoration: none;
  cursor: pointer !important;
  color: var(--mainGrey);
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
}

.category-container:hover .category-link {
  opacity: 1;
  cursor: pointer !important;
}

/* home filler  */
.home-filler {
  min-height: 60vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../images/home-filler.jpeg) center/cover no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/home-filler.jpeg) center/cover no-repeat fixed;
}

.collection-link {
  color: var(--mainYellow);
  text-decoration: none !important;
}

.collection-link:hover {
  text-decoration: none !important;
  color: var(--mainGrey);
}

.collection-underline {
  background: var(--mainYellow);
  height: 0.15rem;
  width: 5rem;
  margin: 0.1rem auto;
}

/* /////////////////// */
/* featured section */
/* /////////////////// */

.featured-container {
  position: relative;
  background: var(--TransGrey);
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.featured-container > img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

@media only screen and (max-width: 900px) {
  .featured-container {
    height: 250px;
  }
}

.old-price {
  text-decoration: line-through;
}

/* //////////////// */
/* footer */
/* //////////////// */
.footer {
  background: rgba(0, 0, 0, 0.8);
}

.footer-title {
  padding: 0.5rem 0.7rem;
  border: 0.2rem solid var(--mainYellow);
}

@media only screen and (max-width: 900px) {
  .footer-title {
    font-size: 1.5rem;
  }
}

.footer-icon {
  color: var(--mainYellow);
  font-size: 1.5rem;
}
/* /////////////////////////// */
/* ##################Products################ */
/* /////////////////////////// */

.products-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background: var(--mainYellow);
}

.products-categories-link {
  color: var(--mainBlack);
  text-decoration: none !important;
  cursor: pointer !important;
}

.products-categories-link:hover {
  color: var(--mainGrey);
}

.products-color {
  width: 1rem;
  height: 1rem;
}

.products-color-black {
  background: var(--mainBlack);
}

.products-color-red {
  background: red;
}

.products-color-blue {
  background: blue;
}

.products-color-green {
  background: green;
}

.products-color-yellow {
  background: yellow;
}

/* ////////////////////////////// */
/* ########### single products ########## */
/* ////////////////////////////// */
.single-product-photo {
  background: var(--TransGrey);
  opacity: 0.5;
  border: 0.1rem solid transparent;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* so the size of img not change
  */
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.single-product-photo:hover {
  border: 0.1rem solid var(--mainYellow);
  opacity: 1;
}

.rating-icon {
  color: var(--mainYellow);
}

/* //////////////////// */
/* ########### product info ########## */
/* //////////////////// */
.product-info-link {
  color: var(--mainGrey);
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}

.product-info-link:hover {
  color: var(--mainYellow);
}
